body {
    background: #333;
    color: lightseagreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
iframe {
    height:550px;
    width:1100px;
    color:coral;
    background-color: floralwhite;
}
p {
  color:honeydew;
}